{% extends "base.html" %} {% block page_content %}
<h1>Things</h1>
{% for thing in things %}

<a
  href="#"
  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h5
    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
  >
    {{ thing.title }}
  </h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">
    Done: {{ thing.done }}
  </p>
</a>
{% endfor %} {% endblock page_content %}
